@import url(reset.css);

:root {
    --background-color: #323232;
    --foreground-color: #e2e2e2;
    --thread-preview-color: #999999;

    --thread-height: 75px;
    --thread-thumbnail-size: 50px;

    --message-thumbnail-size: 30px;
}

@font-face {
    font-family: roboto-regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: material-icons;
    src: url(../fonts/MaterialIcons-Regular.woff);
}

.material-icons {
    font-family: material-icons, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);

    font-family: roboto-regular, sans-serif;
}

html, body{
    height:100%;
}

.overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#threads-container {
    float: left;
    width: 35%;
    height: 100%;
}

#threads {
    height: 100%;
    overflow-y: scroll;
}

.thread {
    height: var(--thread-height);
    display: flex;
    align-items: center;
}

.thread:hover {
    background-color: #454545;
    cursor: pointer;
}

.thumbnail {
    border-radius: 100%;
}

.thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.thumbnail-text {
    padding-top: 50%;
    line-height: 0;
    padding-bottom: 50%;
    text-align: center;
}

.thread-thumbnail {
    height: var(--thread-thumbnail-size);
    width: var(--thread-thumbnail-size);
    min-height: var(--thread-thumbnail-size);
    min-width: var(--thread-thumbnail-size);
    margin-left: 15px;
}

.thread-thumbnail-text {
    font-size: 1.5em;
}

.thread-information {
    padding-left: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: var(--thread-height);

    min-width: 0; /* Needed so that text doesn't overflow */
}

.thread-contact-name {
    margin: 5px;
    max-height: 30px;
}

.thread-preview-text {
    margin: 5px;
    max-height: 20px;

    font-size: .85em;
    color: var(--thread-preview-color);
}

#conversation-container {
    height: 100%;
    float: right;
    width: 65%;
}

#conversation {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#conversation-header {
    background-color: #2a2a2a;
    color: var(--foreground-color);

    height: 65px;
    min-height: 65px;
    max-height: 65px;
}

#conversation-header:hover {
    background-color: #2a2a2a;
    cursor: auto;
}

#conversation-header .thread-thumbnail {
    width: 45px;
    height: 45px;
    min-width: 45px;
    min-height: 45px;
}

#conversation-header .thread-contact-name {
    font-size: 1.1em;
}

.to-bar {
    display: flex;
    flex-wrap: wrap;
    background-color: #2a2a2a;
    padding: 5px;
}

.to-bar-item {
    /*TODO: USE CONTACT COLOR*/
    background-color: #999;
    border-radius: 12px;
    margin: 5px;
}

.to-bar-item p {
    padding: 3px 5px;
}

#messages-container {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    flex: 1;
}

::-webkit-scrollbar {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #454545;
    border-radius: 30px;
}

.message {
    clear: both;
    max-width: 70%;
    display: flex;
    align-items: center;
}

.message-thumbnail {
    height: var(--message-thumbnail-size);
    width: var(--message-thumbnail-size);
    min-height: var(--message-thumbnail-size);
    min-width: var(--message-thumbnail-size);
}

.message-text-sender {
    margin: 6px;
}

.message-text {
    border-radius: 12px;
    padding: 6px;
}

.group-message-sender {
    padding-top: 7px;
    font-size: .75em;
    color: var(--thread-preview-color)
}

.message-image img {
    max-width: 100%;
    border-radius: 12px;
    display: block;
}

.message-sent {
    float: right;
}

.message-received {
    float: left;
}

#entry-bar-images {
    padding: 6px;
    display: flex;
    flex-wrap: wrap;
}

.entry-bar-image {
    width: 150px;
    padding: 6px;
    position: relative;
}

.entry-bar-image img {
    max-width: 100%;
    border-radius: 12px;
    float: right;
    opacity: .9;
}

.entry-bar-image-delete {
    position: absolute;
    top: -5px;
    right: -5px;
}

.entry-bar-image-delete:hover {
    cursor: pointer;
}

#entry-bar {
    margin: 6px;
    display: flex;
}

#entry-bar-input {
    flex: 1;
    height: 30px;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    color: var(--foreground-color);
    font-size: 1em;
}

#entry-bar-input:focus {
    outline: none;
}

.button:focus {
    outline: none;
}

.button:hover {
    cursor: pointer;
}

.button {
    margin-left: 5px;
    background-color: transparent;
    color: var(--foreground-color);
    border: none;
}

.button i {
    line-height: 1.2em;
}

#entry-bar-send:focus {
    outline: none;
}
